<!DOCTYPE  html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<title>Autonomy</title>
	</head>
	
	<body>
		<div class="bg"></div>
		<header>Header
			<nav>
				<h1>Autonomy</h1>
				<ul>
					<li>a href="#">Homepage</a></li>
					<li>a href="#">Left Sidebar</a></li>
					<li>a href="#">Right Sidebar</a></li>
					<li>a href="#">No Sidebar</a></li>
				</ul>
			</nav>
		</header>
		<section class="banner">banner

		</section>
		<section class="imgs">Images and info

		</section>
			<br style="clear: both;">
		<footer>Footer

		</footer>








	</body>
</html>
