<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		

		<title>HTML Basic</title>
		<link rel="stylesheet" href="css/styles.css">
		<link href='https://fonts.googleapis.com/css?family=Raleway:300, 700' rel='stylesheet' type='text/css'>


	</head>
	<body>
		<div id="header">
			<h1>Autonomy</h1>
			<ul>
				<li>Homepage</li>
				<li>Left Sidebar</li>
				<li>Right Sidebar</li>
			</ul>
		</div>
		
		<div id="banner">
			
		</div>
		<div id="img">
			
		</div>
		<div>
			
		</div>
		<div>
			
		</div>

	</body>




</html>